extends admin

block details
  .table-responsive
    table.table.table-condensed
      thead
        tr
          td Registered Users
          td Total Products
      tbody
        each report in reports
          tr
            td= reports.length
        each prod in prods
          td= prods.length