extends admin

block details
  .table-responsive
    table.table.table-condensed
      thead
        tr
          td Registered Users
      tbody
        each report in reports
          tr
            td= reports.length