extends layout

block content
    section
        .container
            .row
                h2.title.text-center
                    =title
                //title here. no duplicate
                //if navList
                .col-sm-3
                    // nav-bar
                    .left-sidebar
                        #accordian.panel-group.category-products
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='shipment') Shipment
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='returns') Return Policy
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='payment') Payment
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='voucher') Voucher
                    ///nav-bar

                .col-sm-9
                    .blog-post-area
                        .single-blog-post
                            //h2= title
                            h3 Returns Policy

                            //a(href='#')
                                img(src='#', alt='Image')
                            p Return policies are the rules a retailer creates to manage how customers return and exchange unwanted merchandise they purchased. A return policy tells customers what items can be returned and for what reasons, as well as the timeframe over which returns are accepted.
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br