extends layout

block content
    section
        .container
            .row
                h2.title.text-center
                    =title
                //title here. no duplicate
                //if navList
                .col-sm-3
                    // nav-bar
                    .left-sidebar
                        #accordian.panel-group.category-products
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='shipment') Shipment
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='returns') Return Policy
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='payment') Payment
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='voucher') Voucher
                    ///nav-bar

                .col-sm-9
                    .blog-post-area
                        .single-blog-post
                            //h2= title
                            h3 Voucher

                            //a(href='#')
                                img(src='#', alt='Image')
                            p A voucher is a form that includes all of the supporting documents showing the money owed and any payments to a supplier or vendor for an outstanding payable.
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br